.cameraComp {
    width: 100%;
}

.footer {
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerItem {
    flex: 1;
    text-align: center;
}

.footerItem:last-child {
    text-align: right;
}

.thumbImg {
    position: absolute;
    border-radius: 4px;
    object-position: center;
    border: 1px solid #FFFFFF;
}

.imgThumbCount {
    position: absolute;
    top: 50%;
    transform: translate(70%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #EB5757;
    color: white;
}